<%= form_for [@user, poll] do |f| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :improvement_recommendation %>
    <%= f.text_area :improvement_recommendation %>
  </div>

  <div class="field">
    <%= f.label :helpful %>
    <%= f.check_box :helpful %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
