<p id="notice"><%= notice %></p>

<p>
  <strong>Improvement recommendation:</strong>
  <%= @poll.improvement_recommendation %>
</p>

<p>
  <strong>Helpful:</strong>
  <%= @poll.helpful %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
