<p id="notice"><%= notice %></p>

<p>
  <strong>Improvement recommendation:</strong>
  <%= @poll.improvement_recommendation %>
</p>

<p>
  <strong>Helpful:</strong>
  <%= @poll.helpful %>
</p>

<%= link_to 'Edit', edit_user_poll_path(@user, @poll) %> |
<%= link_to 'Back', user_polls_path(@user) %>
